extends layout
append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)
block content
  header
    div
      nav(id="nav" class="nav-bar")
        div
          img(src="1889970.png" class="mixtrail-logo")
        div(class="nav-div")
          input(type="text" id="search-bar" class="search-bar" placeholder="Find your next trail!")
          if (user)
            form(action="/" method="post" id="demo" class="demo")
              button(type="submit" class="logout-btn") Logout
          else
            form(action="/" method="post" id="demo" class="demo")
              button(type="submit" class="login-btn") Login
            form(action="/" method="post" id="demo" class="demo")
              button(type="submit" class="sign-btn") Sign Up
    div
      h1 MixTrail
  div(class="wrapper")
    div(class="sidebar-container")
      div(class="sidebar")
        div(class="sidebar-content")
          h3(class="trail-list") Trail List
            ul
              li
                a(href='/login') Visited
              li
                a(href='/login') Want To Visit
    div(class="trail-container")
      each trail in trails
        div(class="trail-div")
          a(class='btn btn-primary' href=`/trail/${trail.id}` role='button')
            div(id=`trail-${trail.id}` class='trail-list-item')
              p(class="name") #{trail.name}
              p(class="state") #{trail.state}
              img(src=`./trails/trail-${trail.id}.jpg` alt=`${trail.name}` class=`trail-image-${trail.id}`)

  //- div
  //-   table(class='table table-striped table-hover')
  //-     thead(class='thead-dark')
  //-       tr
  //-         th(scope='col') Trail Name
  //-         th(scope='col') State
  //-     tbody
  //-       each trail in trails
  //-         tr
  //-           td= trail.name
  //-           td= trail.state
  //-           td: a(class='btn btn-primary' href=`/trail/${trail.id}` role='button') Details


  //- div
  //-   ul Users
  //-     each user in users
  //-       li= user.username

  //- div
  //-   table
  //-       thead
  //-           tr
  //-               th Name
  //-               th Description
  //-               th State
  //-       tbody
  //-           each trail in trails
  //-               tr
  //-                   td= trail.name
  //-                   td= trail.description
  //-                   td= trail.state


  //- div
  //- table(class='table table-striped table-hover')
  //-   thead(class='thead-dark')
  //-     tr
  //-       th(scope='col') Park Name
  //-       th(scope='col') Location
  //-       th(scope='col') Opened
  //-       th(scope='col') # of Attractions
  //-       th(scope='col')
  //-   tbody
  //-     each trail in trails
  //-       tr
  //-         td= trail.name
  //-         td= trail.state
  //-         td= trail.description
  //-         td: a(class='btn btn-primary' href=`/trail/${trail.id}` role='button') Details
    //- div
    //-   each trail in trails
    //-     a(href=`/trails/${trail.id}` class="trailRoute")= trail.name
        //- a(href="/my-routes/add") + Add New Route
    //- div
    //-   form(action="/" method="get" id="demo" class="demo")
    //-     each trail in trails
    //-       a(href="/trails/" + trail.id)
    //-       h3= trail.name
    //-       p= trail.state
//- extends layout.pug

//- block content
//-   div(class='py-3')
//-     a(class='btn btn-success' href='/park/add' role='button') Add Park
//-   table(class='table table-striped table-hover')
//-     thead(class='thead-dark')
//-       tr
//-         th(scope='col') Park Name
//-         th(scope='col') Location
//-         th(scope='col') Opened
//-         th(scope='col') # of Attractions
//-         th(scope='col')
//-     tbody
//-       each park in parks
//-         tr
//-           td= park.parkName
//-           td= `${park.city}, ${park.provinceState} ${park.country}`
//-           td= park.opened
//-           td= (park.attractions.length || 0)
//-           td: a(class='btn btn-primary' href=`/park/${park.id}` role='button') Details
