//- extends layout
//- include utils.pug

//- append head
//-     link(rel="stylesheet" href="/stylesheets/details.css")
//- block content
//-     header
//-         div
//-             nav(id="nav" class="nav-bar")
//-               form(action="/" method="get" id="demo" class="demo")
//-                 button(type="submit" class="logout-btn") Home
//-                 div(class="header")
//-                     h1 MixTrail
//-                 div(class="search")
//-                     input(type="text" id="search-bar" class="search-bar" placeholder="Find your next trail!")
//-             div(class='container')
//-                 p(class=`name`)= trail.name
//-                 img(src=`../trails/trail-${trail.id}.jpg` alt=`${trail.name}` class=`trail-image-${trail.id}`)
//-                 p(class=`details`)= trail.description
//-         div(class='btn-container')
//-             form(action="/" method="get" id="demo" class="demo")
//-                 button(type="submit" class="rate-btn hi") Write a Review
//-             form(action="/" method="get" id="demo" class="demo")
//-                 button(type="submit" class="add-btn hi") Add to TrailList
extends layout
append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/details.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)
block content
  header
    div
      nav(id="nav" class="nav-bar")
        div
          img(src="/1889970.png" class="mixtrail-logo")
        div(class="nav-div")
          input(type="text" id="search-bar" class="search-bar" placeholder="Find your next trail!")
          if (user)
            form(action="/" method="get" id="demo" class="demo")
              button(type="submit" class="logout-btn home") Home
            form(action="/" method="post" id="demo" class="demo")
              button(type="submit" class="logout-btn logout") Logout
          else
            form(action="/" method="post" id="demo" class="demo")
              button(type="submit" class="login-btn") Login
            form(action="/" method="post" id="demo" class="demo")
              button(type="submit" class="sign-btn") Sign Up
    div
      a(href='/' class='h1') MixTrail
  div(class='container')
    div(class='top-container')
                p(class=`name`)= trail.name
                img(src=`../trails/trail-${trail.id}.jpg` alt=`${trail.name}` class=`trail-image-${trail.id}`)
                p(class=`details`)= trail.description
    div(class='btn-container')
            form(action="/trailList" method="post" id="demo" class="demo")
                button(type="submit" class="add-btn hi") Add to TrailList
    div(class="review-container")
      form(action=`/trail/${trail.id}` method="post" class="")
        textarea(name="text" placeholder="Write a review!" class="review-input")
        button(type="submit" class="rate-btn hi") Submit
    div(class="list-reviews")
      each review in reviews
        div(class="review")
          p(class="review-username")= `User: ${review.User.username}`
          div
            p(id=`text-${review.id}` class="review-text")= `${review.text}`
          p(class="review-date")= `Reviewed at: ${review.createdAt}`
          if (review.User.id === user.id)
            button(type="submit" id=`${review.id}` class="edit-btn hi") Edit Review
            form(action=`/trail/${trail.id}/delete` method="post" class="")
                button(type="submit" class="delete-btn hi") Delete Review

          //- input(type="hidden" class="edit-input")
          //- if (review.User.id === review.userId)

            //- form(action=`/trail/${trail.id}` method="put" class="")
              //- input()
