//- extends layout
//- include utils.pug

//- append head
//-     link(rel="stylesheet" href="/stylesheets/details.css")
//- block content
//-     header
//-         div
//-             nav(id="nav" class="nav-bar")
//-               form(action="/" method="get" id="demo" class="demo")
//-                 button(type="submit" class="logout-btn") Home
//-                 div(class="header")
//-                     h1 MixTrail
//-                 div(class="search")
//-                     input(type="text" id="search-bar" class="search-bar" placeholder="Find your next trail!")
//-             div(class='container')
//-                 p(class=`name`)= trail.name
//-                 img(src=`../trails/trail-${trail.id}.jpg` alt=`${trail.name}` class=`trail-image-${trail.id}`)
//-                 p(class=`details`)= trail.description
//-         div(class='btn-container')
//-             form(action="/" method="get" id="demo" class="demo")
//-                 button(type="submit" class="rate-btn hi") Write a Review
//-             form(action="/" method="get" id="demo" class="demo")
//-                 button(type="submit" class="add-btn hi") Add to TrailList
extends layout
append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/details.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)
block content
  header
    div
      nav(id="nav" class="nav-bar")
        div
          img(src="/1889970.png" class="mixtrail-logo")
        div(class="nav-div")
          input(type="text" id="search-bar" class="search-bar" placeholder="Find your next trail!")
          if (!user)
            form(action="/" method="get" id="demo" class="demo")
              button(type="submit" class="logout-btn home") Home
            form(action="/" method="post" id="demo" class="demo")
              button(type="submit" class="logout-btn logout") Logout

          else
            form(action="/" method="post" id="demo" class="demo")
              button(type="submit" class="login-btn") Login
            form(action="/" method="post" id="demo" class="demo")
              button(type="submit" class="sign-btn") Sign Up
    div
      h1 MixTrail
  div(class='container')
    div(class='top-container')
                p(class=`name`)= trail.name
                img(src=`../trails/trail-${trail.id}.jpg` alt=`${trail.name}` class=`trail-image-${trail.id}`)
                p(class=`details`)= trail.description
    div(class='btn-container')
            form(action="/trailList" method="post" id="demo" class="demo")
                button(type="submit" class="add-btn hi") Add to TrailList
            form(action=`/trail/${trail.id}` method="post" id="demo" class="demo")
                button(type="submit" class="rate-btn hi") Write a Review
    div(class="list-reviews")
      each review in reviews
        div
          p= review.text
          p= review.createdAt
    //- div(class="review-container")
    //-   form(action="/" method="post" class="")
    //-     textarea(name="text")
